[alias]
	co = checkout
	unstage = reset HEAD
  l = "!source ~/.githelpers && pretty_git_log"

[user]
	name = Chip Castle
	email = chip@chipcastle.com

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[gist]
	private = no
  browse = yes
	user = chip

[core]
	editor = /usr/bin/vim -f
	excludesfile = /Users/chip/.global_ignore

[rerere]
	enabled = true
  autoupdate = true

[push]
  default = current

[help]
  autocorrect = 1

[branch]
  autosetuprebase = always

[github]
	user = chip
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f

[alias]
  pr = "!f() { git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1; }; f"
[rebase]
	autosquash = true

[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
[init]
	defaultBranch = master
[pull]
	rebase = true

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

