.vim/bundle/
.vim/_temp/
.ssh/config
.vim/plugged/
.CFUserTextEncoding
.DS_Store
.cache/
.lesshst
.ssh/
.viminfo
.zsh_sessions/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
code/
