[alias]
	co = checkout
	unstage = reset HEAD
  l = "!source ~/.githelpers && pretty_git_log"

[user]
	name = Chip Castle
	email = chip@chipcastle.com

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[gist]
	private = no
  browse = yes

[github]
	user = chip

[core]
	editor = /usr/bin/vim -f

[rerere]
  enabled = true
  autoupdate = true

[push]
  default = current

[help]
  autocorrect = 1

